<div class="container mt-5">
    <div style="text-align: center;" *ngIf="!registerMode && !loginMode">
        <h1>Find your favorite products</h1>
        <p class="lead">Come on in to view best products... all you need to do is sign up!</p>
        <div class="text-center" *ngIf="(accountService.currentUser$ | async) === null">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mx-2">Register</button>
            <button (click)="loginToggle()" class="btn btn-info btn-lg mx-2">Login</button>
        </div>
    </div>

    <div class="container" *ngIf="(accountService.currentUser$ | async) === null && registerMode">
        <div class="row d-flex justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
    <div class="container" *ngIf="(accountService.currentUser$ | async) === null && loginMode">
        <div class="row d-flex justify-content-center">
            <div class="col-4">
                <app-login (cancelLogin)="cancelLoginMode($event)"></app-login>
            </div>
        </div>
    </div>
</div>
