<form #registerForm="ngForm" (ngSubmit)="register()">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>

    <div class="form-floating mb-2">
        <input type="text" class="form-control" id="floatingUsername" placeholder="Username" name="username" [(ngModel)]="model.username" required #username="ngModel">
        <label for="floatingUsername">Username</label>
        <span class="text-danger" *ngIf="!username.valid && username.touched">Please enter a valid username!</span>
    </div>

    <div class="form-floating mb-2">
        <input type="password" class="form-control" id="floatingPasswordInput" placeholder="Password" name="password" [(ngModel)]="model.password" minlength="4" maxlength="25" required #password="ngModel">
        <label for="floatingPasswordInput">Password</label>
        <span class="text-danger" *ngIf="!password.valid && password.touched">Password field must have at least 4 characters and 25 at maximum</span>

    </div>

    <div class="form-floating mb-2">
        <input type="text" class="form-control" id="floatingName" placeholder="Name" name="name" [(ngModel)]="model.name" required #name="ngModel">
        <label for="floatingName">Name</label>
        <span class="text-danger" *ngIf="!name.valid && name.touched">Please enter a valid username!</span>
    </div>

    <div class="form-floating mb-2">
        <input type="text" class="form-control" id="floatingStreetAddress" placeholder="Street Address" name="streetAddress" [(ngModel)]="model.streetAddress" required #streetAddress="ngModel">
        <label for="floatingStreetAddress">Street Address</label>
        <span class="text-danger" *ngIf="!streetAddress.valid && streetAddress.touched">Please enter a valid Street Address!</span>
    </div>

    <div class="form-floating mb-2">
        <input type="text" class="form-control" id="floatingCity" placeholder="City" name="city" [(ngModel)]="model.city" required #city="ngModel">
        <label for="floatingCity">City</label>
        <span class="text-danger" *ngIf="!city.valid && city.touched">Please enter a valid City!</span>
    </div>

    <div class="form-floating mb-2">
        <input type="text" class="form-control" id="floatingState" placeholder="State" name="state" [(ngModel)]="model.state" required #state="ngModel">
        <label for="floatingState">State</label>
        <span class="text-danger" *ngIf="!state.valid && state.touched">Please enter a valid State!</span>
    </div>

    <div class="form-floating mb-2">
        <input type="text" class="form-control" id="floatingPostalCode" placeholder="Postal Code" name="postalCode" [(ngModel)]="model.postalCode" pattern="[0-9]*" required #postalCode="ngModel">
        <label for="floatingPostalCode">Postal Code</label>
        <span class="text-danger" *ngIf="!postalCode.valid && postalCode.touched">Please enter a valid Postal Code!</span>
    </div>

    <div class="form-floating mb-2">
        <input type="email" class="form-control" id="floatingEmail" placeholder="Email" name="email" [(ngModel)]="model.email" email required #email="ngModel">
        <label for="floatingEmail">Email</label>
        <span class="text-danger" *ngIf="!email.valid && email.touched">Please enter a valid Email!</span>
    </div>
    
    <div class="form-floating mb-2">
        <input type="tel" class="form-control" id="floatingPhoneNumber" placeholder="Phone Number" name="phoneNumber" [(ngModel)]="model.phoneNumber" pattern="[- +()0-9]+" required #phoneNumber="ngModel">
        <label for="floatingPhoneNumber">Phone Number</label>
        <span class="text-danger" *ngIf="!phoneNumber.valid && phoneNumber.touched">Please enter a valid Phone Number!</span>
    </div>

    <div class="form-group text-center">
        <button class="btn btn-primary me-2" type="submit">Register</button>
        <button class="btn btn-secondary me-2" (click)="cancel()" type="button">Go Back</button>
    </div>
</form>