<div *ngIf="user">
	<br />
	<div class="container">
		<div class="card">
			<div class="card-header bg-dark text-light ml-0">
				<div class="row">
					<div class="col-6  pt-2">
						<i class="fa fa-shopping-cart"></i> &nbsp;
						Shopping Cart
					</div>
				</div>
			</div>

			<div class="card-body">
				<div *ngFor="let cart of carts">
					<app-shopping-item [productId]="cart.itemId" [cart]="cart" (price)="priceCalculator($event)"></app-shopping-item>
				</div>
				<hr />

				<div class="row">
					<div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between bg-light">
								<span class="text-info"> Total (USD)</span>
								<strong class="text-info">{{totalPrice.toFixed(2)}}$</strong>
							</li>
						</ul>
					</div>
				</div>

			</div>

			<div class="card-footer">
				<div class="card-footer row">
					<div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">
						<a class="btn btn-success form-control" (click)="placeOrder()">Checkout</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>